/* #region General Styles and Global Variables */

    :root
    {
        --background-color: rgb(80, 73, 109);
        --text-color: rgb(225, 207, 247);
    }

    *
    {
        color: var(--text-color);
    }

    @font-face 
    {
        font-family: "continuum";
        src: url("fonts/contm.woff2") format("woff2"),
             url("fonts/contm.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    body 
    {
        padding: 1vh;
        min-height: 100vh;
        margin: 0;
        font-family: "continuum";
        background-color: var(--background-color);
        overflow: hidden;
    }

/* #endregion */

/* #region Containers */

    #title-bar
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        padding: 0.5vh;
        gap: 1vh;
    }

    #title-bar-left
    {
        justify-content: left;
        padding: 0.5vh;
    }

    #title-bar-center
    {
        justify-content: center;
    }

    #title-bar-right
    {
        justify-content: right;
        padding: 0.5vh;
    }

    main
    {
        height: 90vh;
    }

    .container 
    {
        display: flex;
        gap: 1vh;
    }

    .vertical
    {
        flex-direction: column;
    }

    .border
    {
        border: 0.2vh solid var(--text-color);
    }

    .flex
    {
        flex: 1;
    }

    .clickable
    {
        cursor: pointer;
    }

/* #endregion */

/* #region Text */



/* #endregion */