<div id="hovered-game-title">Hovered Game Title</div>
<section id="game-shelf">
    <section id="game-shelf-left">
        
    </section>
    <section id="game-shelf-center">
        <div class="game button" data-name="About Me" data-link="{{ '/about' | relative_url }}" data-image="/assets/images/ben-stuffy.webp" data-bg-image="/assets/images/wengen.webp" 
            data-description="Hi I'm Nolan MacFarlane! I am currently a software engineering student at UVic with a passion for UI design and game development. I am fluent in C# and learning HTML, CSS and JavaScript. Outside of school and coding I enjoy playing tennis, video games, violin and cooking.">
            <img class="game-img" src=""/>
        </div>
        <div class="game button" data-name="Skills" data-link="{{ '/skills' | relative_url }}" data-image="/assets/images/software-eng.webp" data-bg-image="/assets/images/computer-science-background.webp" 
            data-description="I have been programming for the past 5 years and learned many languages on the way including C# and JavaScript.">
            <img class="game-img" src=""/>
        </div>
        <div class="game button" data-name="Projects" data-link="{{ '/projects' | relative_url }}" data-image="" data-bg-image="" 
            data-description="Explore my completed and pending projects.">
            <img class="game-img" src=""/>
        </div>
    </section>
    <section id="game-shelf-right">

    </section>
</section>