/* #region General Styles and Global Variables */

    @font-face
    {
        font-family: "ubuntu-mono";
        src: url("/assets/fonts/ubuntu-mono.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    :root
    {
        --background-color: #000000;
        --text-color: #008000;
        --user-color: #234e86;
        --current-file-color: #25ac4d;
    }

    .default
    {
        --background-color: #000000;
        --text-color: #008000;
        --user-color: #234e86;
        --current-file-color: #25ac4d;
    }

    .solarized
    {
        --background-color: #FDF6E3;
        --text-color: #002B36;
        --user-color: #4e7afb;
        --current-file-color: #fb784e;
    }

    .solarized-dark
    {
        --background-color: #002B36;
        --text-color: #FDF6E3;
        --user-color: #4e7afb;
        --current-file-color: #fb784e;
    }

    .rosepine-moon
    {
        --background-color: #232136;
        --text-color: hsl(245, 50%, 91%);
        --user-color: #d77e00;
        --current-file-color: #ea9a97;
    }

    .dark-forest
    {
        --background-color: #0b130f;
        --text-color: #9cd2bb;
        --user-color: #727c41;
        --current-file-color: #8e55ed;
    }

    .mocha
    {
        --background-color: #170f0b;
        --text-color: #dec0b4;
        --user-color: #826353;
        --current-file-color: #d68955;
    }

    body 
    {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        font-family: "ubuntu-mono";
        color: var(--text-color);
        background: var(--background-color);
        overflow: hidden;
    }

    .crt
    {
        text-shadow: 0.125rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69, 0 0 0.5rem var(--text-color);
        letter-spacing: 0.05em;
        animation: textflicker 0.01s alternate infinite;
    }

    @keyframes textflicker 
    {
        from 
        {
            text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69, 0 0 0.5rem var(--text-color);
        }
        
        to 
        {
            text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69, 0 0 0.5rem var(--text-color);
        }
    }

    main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        padding: 1vh;
        gap: 1vh;
        overflow: hidden;
    }

    #content-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        box-sizing: border-box;
        height: 98vh;
        width: 100%;
        gap: 1vh;
        padding: 1vh;
        border: 0.2vh solid var(--text-color);
    }

    #scanline 
    {
        width: 100%;
        height: 300px;
        z-index: -3;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 255, 255, 0.5) 10%,
            rgba(0, 0, 0, 0.1) 100%
        );
        opacity: 0.2;
        position: absolute;
        bottom: 100%;
        pointer-events: none;
        animation: scanline 10s linear infinite;
    }

    @keyframes scanline
    {
        0%, 70%
        {
            bottom: 100%;
        }

        100%
        {
            bottom: -20%;
        }
    }

    #glow
    {
        width: 90vw;
        height: 90vh;
        position: fixed;
        opacity: 0.2;
        pointer-events: none;
        background: radial-gradient(var(--text-color) 0%, var(--background-color) 60%);
        z-index: -2;
    }

    #background-lines
    {
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 0.8;
        background: repeating-linear-gradient(
            to bottom, 
            transparent 0, 
            var(--background-color) 0.2vh, 
            var(--background-color), 
            var(--background-color));
        background-size: 100% 1.5vh; /* Space between lines */
        z-index: -1;
    }

    #title, #clock
    {
        position: fixed;
        font-size: 1.6vh;
        top: 0.2vh;
        background: var(--background-color);
        padding: 0 0.4vh;
        font-weight: bold;
    }

    #title
    {
        align-self: flex-start;
        margin-left: 1vh;
    }

    #clock
    {
        align-self: center;
    }

    .button
    {
        cursor: pointer;
    }

/* #endregion */