/* #region Media Queries */

    @media (max-width: 1200px)
    {
        #file-containers
        {
            display: grid !important;
            grid-template: 0.3fr 10fr / 0.2fr 0.8fr;
            box-sizing: border-box;
        }

        #left-file-container, #main-file-container, #info-container
        {
            width: auto !important;
            min-width: 0;
        }

        #info-container
        {
            grid-column: 1 / span 2;
        }

        #file-title
        {
            font-size: 32px !important;
        }

        #file-description
        {
            width: 80% !important;
        }
    }

    @media (max-width: 600px), (max-height: 900px)
    {
        #file-logo
        {
            font-size: 8px !important;
        }
    }

    @media (max-width: 600px), (max-height: 700px)
    {
        #path-container
        {
            display: none !important;
        }

        #footer
        {
            display: none !important;
        }
    }

/* #endregion */

/* #region Containers */

    #path-container
    {
        display: flex;
        height: auto;
    }

    #user
    {
        color: var(--user-color);
        white-space: pre;
    }

    #current-file
    {
        color: var(--current-file-color);
    }

    #file-containers
    {
        display: flex;
        flex: 1;
        height: 90%;
        width: 100%;
        gap: 8px;
        font-weight: 700;
    }

    #left-file-container
    {
        width: 10%;
    }

    #main-file-container
    {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .folder.selected, 
    .folder:hover, 
    .file.selected, 
    .file:hover
    {
        color: var(--background-color);
        background-color: var(--text-color);
    }

    .folder:focus,
    .file:focus
    {
        color: var(--background-color);
        background-color: var(--current-file-color);
        outline: none;
    }

    .folder,
    .file
    {
        position: relative;
        z-index: 1;
    }

    .file
    {
        display: flex;
    }

    .file-size
    {
        display: flex;
        flex: 1;
        justify-content: end;
    }

    #info-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        padding: 15px;
        box-sizing: border-box;
        overflow: auto;
        border: 0.2vh solid var(--text-color);
    }

    #file-logo
    {
        font-size: 12px;
        white-space: pre;
    }

    #file-title
    {
        font-size: 48px;
        margin-top: 20px; 
        margin-bottom: 15px;
    }

    #file-description
    {
        width: 50%;
        text-align: center;
    }

    #link-container
    {
        display: flex;
        gap: 10px;
    }

    a
    {
        color: var(--text-color);
        width: fit-content;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: 3px dotted var(--text-color) ;
    }

    a:hover
    {
        background-color: var(--user-color);
        box-shadow: 0 0 10px 3px var(--user-color);
    }

    #extra-div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 15px;
    }

    .input
    {
        font-family: monospace;
        width: 60%;
        height: 200px;
        resize: none;
        padding: 10px;
        color: var(--text-color);
        background: transparent;
        border: 0.2vh solid var(--text-color);
        transition: border 0.3s;
        caret-color: var(--current-file-color);
    }

    .input:focus
    {
        outline: none;
        border: 0.2vh solid var(--current-file-color);
    }

    #lichess-game
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #status
    {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    #board-container
    {
        width: auto;
        max-width: 500px;
        margin-bottom: 80px;
    }

    .lpv
    {
        border: 0.2vh solid var(--text-color) !important;
        border-radius: 0 !important;
        transition: border 0.3s;
    }

    .lpv:focus
    {
        border: 0.2vh solid var(--current-file-color) !important;
        outline: none !important;
    }

    .lpv__player
    {
        background-color: var(--background-color) !important;
    }

    .lpv__player__person
    {
        padding: none;
        border: none;
    }

    .lpv__player__person:hover
    {
        background-color: var(--background-color) !important;
        box-shadow: none;
    }

    cg-board
    {
        background-color: var(--background-color) !important;
    }

    .cg-wrap piece
    {
        opacity: 0.7;
    }

    #footer
    {
        display: flex;
        width: 100%;
        height: auto;
    }

    #file-metadata, #credit, #storage
    {
        display: flex;
        align-items: end;
    }

    #file-metadata
    {
        flex: 1;
        justify-content: start;
    }

    #credit
    {
        justify-content: center;
        text-align: center;
        width: 60%;
    }

    #storage
    {
        flex: 1;
        justify-content: end;
    }

/* #endregion */