/* #region General Styles and Variables */

    :root
    {
        --background-color: #000000;
        --text-color: #008000;
        --user-color: #234e86;
        --current-file-color: #cecece;
    }

    .default
    {
        --background-color: #000000;
        --text-color: #008000;
    }

    .solarized
    {
        --background-color: #FDF6E3;
        --text-color: #002B36;
        --user-color: #4e7afb;
        --current-file-color: #fb784e;
    }

    .solarized-dark
    {
        --background-color: #002B36;
        --text-color: #FDF6E3;
        --user-color: #4e7afb;
        --current-file-color: #fb784e;
    }

    .rosepine-moon
    {
        --background-color: #232136;
        --text-color: #e0def4;
        --user-color: #f6c177;
        --current-file-color: #ea9a97;
    }

    body
    {
        color: var(--text-color);
        background-color: var(--background-color);
        font-family: ubuntu-mono;
        transition: background-color 0.3s, color 0.3s;
    }

/* #endregion */

/* #region Media Queries */

    @media (max-width: 1200px)
    {
        #file-containers
        {
            display: grid !important;
            grid-template-columns: 0.2fr 0.8fr;
            box-sizing: border-box;
        }

        #left-file-container, #main-file-container, #info-container
        {
            width: auto !important;
            min-width: 0;
        }

        #info-container
        {
            grid-column: 1 / span 2;
        }

        #file-title
        {
            font-size: 32px !important;
        }

        #file-description
        {
            width: 80% !important;
        }
    }

    @media (max-width: 600px), (max-height: 900px)
    {
        #file-logo
        {
            font-size: 8px !important;
        }

        #file-description
        {
            height: fit-content;
            max-height: 150px;
            overflow: auto;
        }
    }

    @media (max-width: 600px), (max-height: 700px)
    {
        #path-container
        {
            display: none !important;
        }

        #footer
        {
            display: none !important;
        }
    }

/* #endregion */

/* #region Containers */

    main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        padding: 1vh;
        gap: 1vh;
        overflow: hidden;
    }

    #content-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        box-sizing: border-box;
        height: 98vh;
        width: 100%;
        gap: 1vh;
        padding: 1vh;
        border: 0.2vh solid var(--text-color);
        transition: background-color 0.3s, color 0.3s;
    }

    #title, #clock
    {
        font-size: 1.6vh;
        top: 0.2vh;
        background: var(--background-color);
        padding: 0 0.4vh;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
    }

    #title
    {
        position: fixed;
    }

    #clock
    {
        position: absolute;
        align-self: center;
    }

    #path-container
    {
        display: flex;
    }

    #user
    {
        color: var(--user-color);
        white-space: pre;
        transition: color 0.3s;
    }

    #current-file
    {
        color: var(--current-file-color);
        transition: color 0.3s;
    }

    #file-containers
    {
        display: flex;
        height: 100%;
        width: 100%;
        gap: 8px;
        font-weight: 700;
    }

    #left-file-container
    {
        width: 10%;
    }

    #main-file-container
    {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .folder.selected, 
    .folder:hover, 
    .file.selected, 
    .file:hover
    {
        color: var(--background-color);
        background-color: var(--text-color);
    }

    .folder:focus,
    .file:focus
    {
        color: var(--background-color);
        background-color: var(--current-file-color);
        outline: none;
    }

    .file
    {
        display: flex;
    }

    .file-size
    {
        display: flex;
        flex: 1;
        justify-content: end;
    }

    #info-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    #file-logo
    {
        font-size: 12px;
        white-space: pre;
    }

    #file-title
    {
        font-size: 48px;
        margin-top: 20px; 
        margin-bottom: 15px;
    }

    #file-description
    {
        width: 50%;
        text-align: center;
    }

    #link-container
    {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    a
    {
        color: var(--text-color);
        width: fit-content;
        text-decoration: none;
        padding: 10px;
        border: 3px dotted var(--text-color) ;
    }

    #form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 15px;
    }

    .input
    {
        font-family: monospace;
        width: 60%;
        height: 200px;
        resize: none;
        padding: 10px;
        color: var(--text-color);
        background: transparent;
        border: 3px solid var(--text-color);
        transition: border 0.3s;
    }

    .input:focus
    {
        outline: none;
        border: 3px solid var(--current-file-color);
    }

    #footer
    {
        display: flex;
        width: 100%;
    }

    #file-metadata, #credit, #storage
    {
        display: flex;
        align-items: end;
    }

    #file-metadata
    {
        flex: 1;
        justify-content: start;
    }

    #credit
    {
        justify-content: center;
        text-align: center;
        width: 60%;
    }

    #storage
    {
        flex: 1;
        justify-content: end;
    }

/* #endregion */