/* #region General Styles and Variables */

    :root
    {
        --skills-background-color: #000000;
        --skills-text-color: #008000;
    }

    body
    {
        color: var(--skills-text-color);
        background-color: var(--skills-background-color);
        font-family: ubuntu-mono;
    }

/* #endregion */

/* #region Media Queries */

    @media (max-width: 1200px)
    {
        #file-containers
        {
            display: grid !important;
            grid-template-columns: 0.2fr 0.8fr;
            box-sizing: border-box;
        }

        #left-file-container, #main-file-container, #info-container
        {
            width: 100% !important;
        }

        #info-container
        {
            grid-column: 1 / span 2;
        }

        #file-title
        {
            font-size: 32px !important;
        }

        #file-description
        {
            width: 80% !important;
        }

        .stat-bar-segment
        {
            width: 20px !important;
        }
    }

    @media (max-width: 600px), (max-height: 900px)
    {
        #content-container
        {
            height: max-content !important;
        }

        #info-container
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        
        #file-logo
        {
            height: 100px !important;
        }

        #footer
        {
            display: none !important;
        }
    }

/* #endregion */

/* #region Containers */

    a
    {
        color: var(--skills-text-color);
    }

    .game-button
    {
        border: 2px solid var(--skills-text-color);
        border-radius: 0;
    }

    #content-container
    {
        align-items: start;
        height: 98vh;
        border: 2px solid var(--skills-text-color);
    }

    #file-containers
    {
        display: flex;
        height: 100%;
        width: 100%;
        gap: 8px;
        font-weight: 700;
    }

    #left-file-container
    {
        width: 10%;
    }

    #main-file-container
    {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .folder.selected, .folder:hover, .file.selected, .file:hover
    {
        color: var(--skills-background-color);
        background-color: var(--skills-text-color);
    }

    .file
    {
        display: flex;
    }

    .file-size
    {
        display: flex;
        flex: 1;
        justify-content: end;
    }

    #info-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    #file-logo
    {
        height: 200px;
        transition: height 0.5s ease-in-out;
    }

    #file-title
    {
        font-size: 48px;
    }

    #file-description
    {
        width: 50%;
        text-align: center;
    }

    #file-stats
    {
        display: flex;
        gap: 8px;
    }

    #stat-title-container, #stat-bar-container
    {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .stat-title
    {
        display: flex;
        height: 24px;
        align-items: center;
    }

    .stat
    {
        display: flex;
        gap: 5px;
    }

    .stat-bar-segment
    {
        height: 20px;
        width: 40px;
        background-color: var(--skills-background-color);
        border: 2px solid var(--skills-text-color);
    }

    .stat-bar-segment.fill
    {
        background-color: var(--skills-text-color);
    }

    #file-metadata, #credit, #storage
    {
        display: flex;
        align-items: end;
    }

    #file-metadata
    {
        flex: 1;
        justify-content: start;
    }

    #credit
    {
        justify-content: center;
        text-align: center;
        width: 60%;
    }

    #storage
    {
        flex: 1;
        justify-content: end;
    }

/* #endregion */