<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/global.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
        <script src="{{ '/assets/js/global.js' | relative_url }}" defer></script>
        <script src="{{ '/assets/js/home.js' | relative_url }}" defer></script>
    </head>
    <body>
        <div id="frosted-glass"></div>
        <div id="vignette"></div>
        <div id="black-fade"></div>

        {% include top-bar.html %}

        <main>
            {{ content }}
            {% include bottom-bar.html %}
        </main>

        <div id="cursor"></div>
    </body>
</html>