<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/global.css' | relative_url }}">
        
        {% if page.style %}
            {% for css in page.style %}
                {% if css contains 'http' %}
                    <link rel="stylesheet" href="{{ css }}">
                {% else %}
                    <link rel="stylesheet" href="{{ '/assets/css/' | append: css | relative_url }}">
                {% endif %}
            {% endfor %}
        {% endif %}

        <script src="{{ '/assets/js/global.js' | relative_url }}" defer></script>

        {% if page.script %}
            {% for js in page.script %}
                <script type="module" src="{{ '/assets/js/' | append: js | relative_url }}" defer></script>
            {% endfor %}
        {% endif %}
    </head>
    <body>
        <main>
            <div id="scanline"></div>
            <div id="glow"></div>
            <div id="background-lines"></div>
            
            <div id="title">{{ page.title }}</div>
            <div id="clock">12:00:00</div>

            <section id="content-container">
                {{ content }}
            </section>
        </main>
    </body>
</html>