/* #region Background Layers */

    #background
    {
        position: fixed;
        inset: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        z-index: -10;
        background: url("/images/blockwavemoon-ng-hai.png") center / cover no-repeat;
        animation: rotate-hue 50s linear infinite;
    }

    @keyframes rotate-hue
    {
        0%
        {
            filter: blur(12px) hue-rotate(0deg);
        }

        100%
        {
            filter: blur(12px) hue-rotate(360deg);
        }
    }

/* #endregion */

/* #region General Styles and Variables */

    :root
    {
        --about-background-color: #000000;
        --about-text-color: #fdf6e3;

        --info-container-angle: -10deg;
    }

    body
    {
        color: var(--about-text-color);
        background-color: var(--about-background-color);
        font-family: outfit;
    }

/* #endregion */

/* #region Media Queries */

    @media (max-width: 1200px)
    {
        body
        {
            overflow: auto !important;
            cursor: default;
        }
        
        main
        {
            height: max-content !important;
        }
    }

/* #endregion */

/* #region Containers */

    main
    {
        padding: 0;
    }

    #game-title:hover
    {
        letter-spacing: 0.7vh;
        color: var(--accent-color);
    }

    .game-button
    {
        box-sizing: border-box;
        border: 0.2vh dashed var(--about-text-color);
        border-radius: 1vh;
        background-color: var(--frosted-glass-color);
    }

    .game-button:hover
    {
        border: 0.3vh solid var(--about-text-color);
    }

    #content-container
    {
        padding: 0;
        padding-top: 15vh; padding-bottom: 20vh;
        gap: 0;
    }

    .info-container
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        width: 120%;
        box-sizing: border-box;
        padding: 1vh;
        border: 0.2vh solid var(--about-text-color);
        background-color: black;
        transform: rotate(var(--info-container-angle));
    }

    .blur-wrapper
    {
        position: absolute;
        inset: 0;
        overflow: hidden; 
        pointer-events: none;
    }

    .blur-background
    {
        position: absolute;
        inset: 0;
        border-radius: inherit; 
        pointer-events: none;
        filter: blur(12px);
        z-index: 0;
    }

    .info-text
    {
        display: flex;
        text-align: center;
        height: max-content;
        width: 30%;
        font-size: 24px;
        z-index: 1;
        transform: rotate(calc(var(--info-container-angle) * -1));
    }

    .info-image-container
    {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 50%;
        z-index: 2;
        transform: rotate(calc(var(--info-container-angle) * -1));
    }

    #footer
    {
        justify-content: center;
        box-sizing: border-box;
        padding: 1vh;
        font-size: 24px;
    }

/* #endregion */

/* #region Images */

    .info-image
    {
        position: absolute;
        display: flex;
        height: 100%;
    }

    #frying-pan
    {
        top: -10%;
        left: 50%;
    }

    #pancake
    {
        top: 0;
        left: 35%;
    }

    #violin-bow
    {
        top: 0;
        left: 55%;
    }

    #wii-disc
    {
        top: -20%;
        left: 1%;
        scale: 0.75;
    }
    
    #cursor-img
    {
        scale: 0.1;
    }

    #mario
    {
        top: 30%;
        left: 30%;
        scale: 0.4;
    }

    #question-block
    {
        top: -49%;
        left: 31%;
        scale: 0.65;
    }

/* #endregion */