/* #region Containers */

    body
    {
        overflow: auto;
    }

    #background-image
    {
        position: absolute;
        top: 0; 
        left: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        background: url(/images/botw_landscape.jpg) center / cover no-repeat fixed;
        z-index: -10;
    }

    #title-screen
    {
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 15vh;
    }

    header
    {
        display: flex;
        align-items: end;
        justify-content: center;
        height: 40vh;
    }

    #game-title
    {
        font-size: 128px;
        margin: 16px;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    #game-title:hover
    {
        letter-spacing: 0.7vh;
        color: var(--accent-color);
    }

    #button-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }

    .button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 25vh;
        font-size: 3vh;
        border: 0.2vh solid var(--text-color);
        border-radius: 3vh;
        transition: color 0.3s ease;
    }

    .button:hover
    {
        color: var(--accent-color);
    }

    .button:active
    {
        scale: 0.97;
    }

    main
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5vh;
        gap: 1vh;
        overflow: hidden;
    }

    #content-container
    {
        display: flex;
        gap: 1vh;
    }

    .photo-container
    {
        display: flex;
        flex: 1;
    }

    #text-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 768px;
    }

/* #endregion */