/* #region Background/Foreground Layers */

    #background-image
    {
        position: fixed;
        top: 0; 
        left: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        z-index: -10;
    }

    #loading-screen
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #000000;
        z-index: 2;
        opacity: 1;
        transition: opacity 1s ease;
    }

    #spatula-icon
    {
        height: 6vh;
        width: 6vh;
        fill: #ffffff;
        z-index: 3;
        transform: translateX(3vh) translateY(2vh) rotateZ(200deg);
        animation: stir 4s linear infinite;
    }

    @keyframes stir
    {
        0%, 3%, 97%, 100%
        {
            transform: translateX(3vh) translateY(2vh) rotateZ(200deg);
            scale: 1;
        }

        20%, 60%
        {
            transform: translateX(1vh) translateY(6vh) rotateZ(170deg);
            scale: 1;
        }

        30%, 70%
        {
            scale: 0.95;
        }
        
        40%, 80%
        {
            transform: translateX(-2.5vh) translateY(6vh) rotateZ(170deg);
            scale: 1;
        }
        
        50%
        {
            scale: 1.05;
        }
    }

    #cooking-pan-icon
    {
        height: 15vh;
        width: 15vh;
        z-index: 4;
        fill: #ffffff;
    }

    #loading-text
    {
        position: absolute;
        bottom: 1vh;
        right: 1vh;
        font-size: 2vh;
        color: #ffffff;
        animation: fade 3s linear infinite;
    }

    @keyframes fade
    {
        0%, 100%
        {
            opacity: 1;
        }

        50%
        {
            opacity: 0;
        }
    }

/* #endregion */

/* #region General Styles */

    body
    {
        font-family: "delius-swash-caps";
    }

/* #endregion */

/* #region Media Queries */

    @media (max-width: 1200px)
    {
        body
        {
            overflow: auto !important;
            cursor: default;
        }
        
        main
        {
            height: max-content !important;
            margin-top: 30vh;
        }
        
        #text-container
        {
            width: 80vw !important;
        }

        #info-box-container
        {
            position: relative !important;
            height: max-content !important;
            grid-template-rows: 1fr 1fr 1fr !important;
            row-gap: 2vh;
            margin-bottom: 10vh;
        }

        .info-box
        {
            position: static !important;
        }

        .info-text
        {
            font-size: 1.8vh !important;
        }

        .middle-left
        {
            justify-self: center !important;
            margin-left: 0 !important;
        }

        .middle-right
        {
            justify-self: center !important;
            margin-right: 0 !important;
        }
    }

/* #endregion */

/* #region Containers */

    main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 98vh;
        padding: 1vh;
        gap: 5vh;
        overflow: hidden;
    }

    #title-container
    {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    #game-title
    {
        font-size: 10vh;
        margin: 1vh;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    #game-title:hover
    {
        letter-spacing: 0.7vh;
        color: var(--accent-color);
    }

    #text-container
    {
        width: 50vw;
        font-size: 2vh;
    }

    #button-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }

    .button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 25vh;
        font-size: 3vh;
        border: 0.2vh solid var(--text-color);
        border-radius: 3vh;
        transition: color 0.3s ease;
    }

    .button:hover
    {
        color: var(--accent-color);
    }

    .button:active
    {
        scale: 0.97;
    }

    #info-box-container
    {
        position: absolute;
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-rows: 30% 40% 30%;
        grid-template-columns: 50% 50%;
        pointer-events: none;
    }

    .info-box
    {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        align-self: center;
        height: 20vh;
        width: 20vh;
        gap: 1vh;
    }

    .info-img
    {
        height: 10vh;
        width: 10vh;
        pointer-events: none;
    }

    .info-text
    {
        font-size: 1.5vh;
    }

    .top-left
    {
        grid-row: 1;
        grid-column: 1;
    }

    .top-right
    {
        grid-row: 1;
        grid-column: 2;
    }

    .middle-left
    {
        grid-row: 2;
        grid-column: 1;
        justify-self: baseline;
        margin-left: 5vh;
    }

    .middle-right
    {
        grid-row: 2;
        grid-column: 2;
        justify-self: end;
        margin-right: 5vh;
    }

    .bottom-left
    {
        grid-row: 3;
        grid-column: 1;
    }

    .bottom-right
    {
        grid-row: 3;
        grid-column: 2;
    }

/* #endregion */