/* #region Background/Foreground Layers */

    #background-image
    {
        position: fixed;
        top: 0; 
        left: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        z-index: -10;
    }

    #loading-screen
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #000000;
        z-index: 2;
        opacity: 1;
        transition: opacity 1s ease;
    }

    #spatula-icon
    {
        height: 6vh;
        width: 6vh;
        fill: #ffffff;
        z-index: 3;
        transform: translateX(3vh) translateY(2vh) rotateZ(200deg);
        animation: stir 4s linear infinite;
    }

    @keyframes stir
    {
        0%, 3%, 97%, 100%
        {
            transform: translateX(3vh) translateY(2vh) rotateZ(200deg);
            scale: 1;
        }

        20%, 60%
        {
            transform: translateX(1vh) translateY(6vh) rotateZ(170deg);
            scale: 1;
        }

        30%, 70%
        {
            scale: 0.95;
        }
        
        40%, 80%
        {
            transform: translateX(-2.5vh) translateY(6vh) rotateZ(170deg);
            scale: 1;
        }
        
        50%
        {
            scale: 1.05;
        }
    }

    #cooking-pan-icon
    {
        height: 15vh;
        width: 15vh;
        z-index: 4;
        fill: #ffffff;
    }

    #loading-text
    {
        position: absolute;
        bottom: 1vh;
        right: 1vh;
        font-size: 2vh;
        color: #ffffff;
        animation: fade 3s linear infinite;
    }

    @keyframes fade
    {
        0%, 100%
        {
            opacity: 1;
        }

        50%
        {
            opacity: 0;
        }
    }

/* #endregion */

/* #region Media Queries */

    @media (max-width: 1200px)
    {
        #summary-container
        {
            width: 80vw !important;
        }
    }

/* #endregion */

/* #region Containers */

    #title-screen
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        gap: 3vh;
    }

    #title-container
    {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    #game-title
    {
        font-size: 10vh;
        margin: 1vh;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    #summary-container
    {
        width: 50vw;
        text-align: center;
        font-size: 2vh;
    }

    #link-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }
    
    a
    {
        width: fit-content;
        font-size: 2vh;
        color: var(--link-color);
    }

    #button-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }

    .game-button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 25vh;
        font-size: 3vh;
        border: 0.2vh solid var(--text-color);
        border-radius: 3vh;
        transition: color 0.3s ease;
    }

    .game-button:active
    {
        scale: 0.97;
    }

    #content-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: max-content;
        width: 100%;
        gap: 1vh;
        padding: 1vh;
    }

/* #endregion */