/* #region Background Layers */

    #frosted-glass
    {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        background: var(--frosted-glass-color);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        z-index: -1;
    }

/* #endregion */

/* #region General Styles and Global Variables */

    :root
    {
        --background-color: #ebeae1;
        --text-color: #363636;
        --accent-color: #8fc9c9;
        --cursor-color: #19297c;
        --frosted-glass-color: #ffffff26;
    }

    @font-face 
    {
        font-family: "continuum";
        src: url("../fonts/contm.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    body 
    {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        font-family: "continuum";
        color: var(--text-color);
        background-color: var(--background-color);
        overflow: hidden;
        cursor: none;
    }

    .dark-mode
    {
        --background-color: #161422;
        --text-color: #f7e5e8;
        --cursor-color: #e1e4f5;
        --frosted-glass-color: #00000044;
    }

/* #endregion */

/* #region Text */

    h1
    {
        font-size: 2.5vh;
    }

    h2
    {
        font-size: 2vh;
    }

    p
    {
        font-size: 1.5vh;
    }

/* #endregion */

/* #region Cursor */

    #cursor
    {
        height: 2vh;
        aspect-ratio: 1;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        background: var(--cursor-color);
        opacity: 0.4;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }

/* #endregion */